# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# misc
.DS_Store
*.pem
*.log
npm-debug.log*

# env
.env
.env.local
.env.*.local

# prisma
/prisma/*.db

# editor
.vscode/*
!.vscode/extensions.json
.idea

# typescript
*.tsbuildinfo

.open-next
.dev.vars
.wrangler
.env
.env.local

